# Realme C51 RMX3830 NetHunter WiFi Kernel Config
# Target: AR9271 USB WiFi adapter support
# Date: 2026

CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_WLAN_VENDOR_ATH=y
CONFIG_ATH_COMMON=y
CONFIG_ATH9K_HW=y
CONFIG_ATH9K_COMMON=y
CONFIG_ATH9K_HTC=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_CFG80211_WEXT=y
CONFIG_MAC80211_MESH=y
